<!-- wp:template-part {"slug":"header","theme":"ziri","tagName":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"gradient":"banner-section","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-banner-section-gradient-background has-background" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:spacer {"height":"120px","className":"is-style-has-mb-40","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:120px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-40"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"15px","left":"var:preset|spacing|100"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:15px;padding-left:var(--wp--preset--spacing--100)"><!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"120px","className":"is-style-has-mb-40","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:120px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-40"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"15px","left":"15px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:15px;padding-left:15px"><!-- wp:spacer {"height":"80px","className":"is-style-has-mb-50","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-50"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-featured-image {"isLink":true,"width":"","height":"","align":"wide","style":{"border":{"radius":"32px"},"spacing":{"margin":{"top":"0px","right":"0px","left":"0px","bottom":"56px"}}}} /-->
    
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    
    <!-- wp:spacer {"height":"80px","className":"is-style-has-mb-30"} -->
    <div style="height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->


<!-- wp:template-part {"slug":"footer-one","theme":"ziri","tagName":"footer"} /-->