<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"15px","left":"15px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:15px;padding-left:15px"><!-- wp:spacer {"height":"60px","className":"is-style-has-mb-30","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:60px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"constrained","contentSize":"770px"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"15px","left":"15px","top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:post-title {"align":"full","style":{"typography":{"textTransform":"none","fontStyle":"normal","fontWeight":"600","lineHeight":"1.4"},"spacing":{"margin":{"right":"0px","left":"0px","bottom":"16px","top":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"x-large"} /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"5px","padding":{"top":"0px","right":"0px","bottom":"32px","left":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:32px;padding-left:0px"><!-- wp:group {"style":{"spacing":{"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"500","lineHeight":"1.8"}}} -->
    <p style="font-size:14px;font-style:normal;font-weight:500;line-height:1.8">By</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:post-author {"textAlign":"left","showAvatar":false,"showBio":false,"isLink":true,"style":{"spacing":{"margin":{"right":"0","bottom":"0","left":"0","top":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1.8","fontSize":"14px"}},"textColor":"base","className":"is-style-default"} /-->
    
    <!-- wp:post-date {"displayType":"modified","style":{"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1.8","fontSize":"14px"}},"textColor":"base"} /-->
    
    <!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"500","lineHeight":"1.8"}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"30px","top":"0px","right":"0px","left":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"border":{"radius":"32px"}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"15px","left":"15px","top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"770px"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"30px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide" style="margin-top:30px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-content /-->
    
    <!-- wp:spacer {"height":"48px","className":"is-style-has-mb-20","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:48px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-20"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"className":"single-tags is-style-default","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","orientation":"horizontal"}} -->
    <div class="wp-block-group single-tags is-style-default" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-terms {"term":"post_tag","style":{"typography":{"fontSize":"14px","lineHeight":"1.1","fontStyle":"normal","fontWeight":"500"}},"className":"is-style-bg-color-terms"} /-->
    
    <!-- wp:social-links {"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"blockGap":{"top":"10px","left":"32px"}}},"className":"is-style-logos-only"} -->
    <ul class="wp-block-social-links is-style-logos-only"><!-- wp:social-link {"url":"#","service":"facebook"} /-->
    
    <!-- wp:social-link {"url":"#","service":"twitter"} /-->
    
    <!-- wp:social-link {"url":"#","service":"instagram"} /-->
    
    <!-- wp:social-link {"url":"#","service":"linkedin"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"48px","className":"is-style-has-mb-30","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:48px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"className":"single-posts-nav","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group single-posts-nav" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"style":{"typography":{"lineHeight":"1.7","fontStyle":"normal","fontWeight":"600"}},"fontSize":"small-medium"} /-->
    
    <!-- wp:post-navigation-link {"textAlign":"right","showTitle":true,"linkLabel":true,"style":{"typography":{"lineHeight":1.7,"fontStyle":"normal","fontWeight":"600"}},"fontSize":"small-medium"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","style":{"border":{"radius":"12px"},"spacing":{"margin":{"top":"32px","bottom":"48px"},"padding":{"top":"32px","bottom":"32px","left":"32px","right":"32px"}}},"backgroundColor":"primary-accent","layout":{"type":"default"},"fontSize":"small"} -->
    <div class="wp-block-group alignwide has-primary-accent-background-color has-background has-small-font-size" style="border-radius:12px;margin-top:32px;margin-bottom:48px;padding-top:32px;padding-right:32px;padding-bottom:32px;padding-left:32px"><!-- wp:group {"style":{"border":{"bottom":{"color":"#0000001a","width":"1px"}},"spacing":{"margin":{"top":"var:preset|spacing|default"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="border-bottom-color:#0000001a;border-bottom-width:1px;margin-top:var(--wp--preset--spacing--default)"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"spacing":{"padding":{"top":"var:preset|spacing|default","right":"var:preset|spacing|default","left":"var:preset|spacing|default","bottom":"16px"}}},"fontSize":"medium-large"} -->
    <h2 class="wp-block-heading has-medium-large-font-size" style="padding-top:var(--wp--preset--spacing--default);padding-right:var(--wp--preset--spacing--default);padding-bottom:16px;padding-left:var(--wp--preset--spacing--default);font-style:normal;font-weight:600">About The Author</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:post-author {"textAlign":"left","showBio":true,"byline":"","isLink":true,"style":{"spacing":{"margin":{"right":"0px","bottom":"0px","left":"0px","top":"32px"}},"typography":{"fontSize":"27px"}},"className":"is-style-large-font"} /-->
    
    <!-- wp:columns {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":{"top":"0px","left":"0px"}}},"className":"is-style-default"} -->
    <div class="wp-block-columns is-style-default" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"width":"10%"} -->
    <div class="wp-block-column" style="flex-basis:10%"></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"90%"} -->
    <div class="wp-block-column" style="flex-basis:90%"><!-- wp:group {"layout":{"type":"constrained","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:social-links {"size":"has-small-icon-size","style":{"spacing":{"margin":{"top":"16px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
    <ul class="wp-block-social-links has-small-icon-size" style="margin-top:16px;margin-right:0px;margin-bottom:0px;margin-left:0px"><!-- wp:social-link {"url":"#","service":"facebook"} /-->
    
    <!-- wp:social-link {"url":"#","service":"twitter"} /-->
    
    <!-- wp:social-link {"url":"#","service":"instagram"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","style":{"border":{"radius":"12px","color":"#0d173b0a","width":"1px"},"spacing":{"padding":{"top":"40px","right":"30px","bottom":"40px","left":"30px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide has-border-color" style="border-color:#0d173b0a;border-width:1px;border-radius:12px;margin-top:0px;margin-bottom:0px;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:comments {"align":"wide"} -->
    <div class="wp-block-comments alignwide"><!-- wp:comments-title /-->
    
    <!-- wp:spacer {"height":"10px"} -->
    <div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:comment-template -->
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
    <div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->
    
    <!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:comment-content /-->
    
    <!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:comments-pagination {"style":{"typography":{"lineHeight":"1.8"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"fontSize":"small"} -->
    <!-- wp:comments-pagination-previous /-->
    
    <!-- wp:comments-pagination-numbers /-->
    
    <!-- wp:comments-pagination-next {"fontSize":"small"} /-->
    <!-- /wp:comments-pagination -->
    
    <!-- wp:post-comments-form {"fontSize":"medium-large"} /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"120px","className":"is-style-has-mb-50","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:120px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-50"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","right":"15px","left":"15px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"section-bg","layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group alignfull has-section-bg-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.4"},"spacing":{"margin":{"top":"var:preset|spacing|default","right":"var:preset|spacing|default","bottom":"32px","left":"var:preset|spacing|default"}}},"fontSize":"large"} -->
    <h2 class="wp-block-heading has-large-font-size" style="margin-top:var(--wp--preset--spacing--default);margin-right:var(--wp--preset--spacing--default);margin-bottom:32px;margin-left:var(--wp--preset--spacing--default);font-style:normal;font-weight:600;line-height:1.4">Related Posts</h2>
    <!-- /wp:heading -->
    
    <!-- wp:query {"queryId":55,"query":{"perPage":"2","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide","className":"is-style-mg-0"} -->
    <div class="wp-block-query alignwide is-style-mg-0"><!-- wp:post-template {"className":"is-style-hover-animation is-style-mg-0","layout":{"type":"grid","columnCount":2},"fontFamily":"figtree"} -->
    <!-- wp:post-featured-image {"isLink":true,"height":"","style":{"border":{"radius":"32px"},"spacing":{"margin":{"bottom":"0px","top":"0px"}}},"className":"fr-hover-scale-img"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"24px","right":"0px","bottom":"0px","left":"16px"},"margin":{"top":"0px","bottom":"0px"}},"border":{"radius":{"bottomLeft":"12px","bottomRight":"12px","topLeft":"0px","topRight":"0px"}}},"backgroundColor":"white"} -->
    <div class="wp-block-group has-white-background-color has-background" style="border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:12px;border-bottom-right-radius:12px;margin-top:0px;margin-bottom:0px;padding-top:24px;padding-right:0px;padding-bottom:0px;padding-left:16px"><!-- wp:group {"style":{"spacing":{"blockGap":"10px","margin":{"top":"var:preset|spacing|default","bottom":"16px"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--default);margin-bottom:16px"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":"  ","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"16px","lineHeight":"1.8"}}} /-->
    
    <!-- wp:post-date {"style":{"typography":{"fontSize":"16px","lineHeight":"1.8"}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"lineHeight":"1.6","letterSpacing":"-0.02em"},"spacing":{"margin":{"top":"8px"}},"elements":{"link":{"color":{"text":"var:preset|color|heading"}}}},"fontSize":"medium"} /--></div>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"ziri","area":"uncategorized"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:spacer {"height":"80px","className":"is-style-has-mb-30","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-one","theme":"ziri","tagName":"footer"} /-->